*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ========== ENCABEZADO / NAVEGACIÓN ========== */
.cabecera {
    background-color: #006633;
    color: white;
    padding: 10px 0;
    margin-bottom: 0;
    border-bottom: 5px solid yellow;
}

.contenedor-cabecera {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 80px;
}

.logo img {
    height: 100%;
}

.menu {
    display: flex;
    align-items: center;
}

.lista-menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.lista-menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.lista-menu li a:hover {
    color: #ffcc00;
}


